@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "RomanSD";
  src: url("./assets/font/Roman SD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caesar";
  src: url("./assets/font/Caesar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karatone";
  src: url("./assets/font/Karatone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "Continental";
  src: url("./assets/font/Continental.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "normal";
  src: url("./assets/font/Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

::-webkit-scrollbar{
  display: none;
}

body{
  background-color: #fffceb;
  /* font-family: normal; */
  /* font-weight: 500; */
}